

.main-grid {
    display: flex;
    grid-template-columns: 1fr 1fr 1fr; 
    max-width: 960px;
    margin: auto;
    flex-flow: column wrap;
    height: 160vh;
}
.main-grid > section {
    width: 300px;
}

header {
    align-items: center;
    margin-top: -50px auto;
    background-color: #01172F;
    height: 150px;
    width: 100%;
}
body {
    background-color: #B7C0EE;
}

nav  {
    display: flex;
    justify-content: space-around;
    z-index: 1;
}
nav a {
    color: white;
    text-decoration: none;
    margin: 50px;
    font-size: 1.3em;
}

#card {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
}

#main-img {
    width: 100%;
}
#main-card {
    grid-column: 1;
    grid-row: 1;
}

#home-msg {
    grid-column: 1;
    grid-row: 1;
    z-index: 1;
    color: white;
    font-size: 2em;
}

footer {
    background-color: #FF47AC;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
